.country-details {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        

        img {
            width: 50%;
            margin-right: 10px;
        }
        .flag {
            border: black solid 1px;
         
        }
        .coat-of-arms {
            border: black solid 1px;
            
        }
    } 
}

h2 {
    font-weight: bold;
    
}


.country-details .coat-of-arms {
    width: 40%;
}

.country-details .info-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}

.country-details .info-section p, .country-details .info-section a {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 1.5;
    color: #333;
    text-decoration: none;
}

.country-details .info-section h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;

    .title {
        font-weight: bold;
    }
}

.showMoreLess {
    color: blue !important;
}

.Box {
    display: flex;
    justify-content: space-between;
}

.showMoreLess {
    font-size: 1.5em; 
    cursor: pointer; 
}
.translations-dropdown {
    position: relative;
    display: inline-block;
}

button {
    background-color: #3498db;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.translation-item {
    padding: 6px 8px;
    border-bottom: 1px solid #e0e0e0;
}


.translation-item:last-child {
    border-bottom: none;
}

.lang {
    font-weight: bold;
}

.translation {
    margin-left: 5px;
}

